* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    background-color: #f4f7f9;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
}

header .logout{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 80px;
}

header .logout img{
    height: 16px;
}

header .logout button{
    background-color: white;
    border: none;
    font-size: 18px;
}

.sidebar {
    width: 200px;
    background-color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px 20px;
    transition: background 0.3s, color 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: #e7e7e7;
}

main {
    margin-left: 200px;
    padding: 80px 20px 20px;
    width: calc(100% - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f7f9;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 20px 0;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab-button {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s, color 0.3s;
}

.tab-button.active {
    background-color: #00a3fd;
    color: #fff;
    border-bottom: none;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.image-upload {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    display: none;
  }
  
  .custom-file-upload {
    border: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #555;
    color: white;
  }

.image-upload img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.form-group {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button[type="submit"] {
    background-color: #00a3fd;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #008dc9;
}

